.client {
    height: 700px;
    width: 100%;
 
}

.container-client {
    display: flex;
    width: 77vw;
    height: 300px;
    margin-left: 10%;
    align-items: center;
    
}

.title-client {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin: 180px 0 150px 0;
    width: 100%;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color: hsl(232, 10%, 55%);
    font-family: 'Fraunces', serif;
    font-size: 22px;
}

.img-client {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-bottom: 80px;
}

.client1, .client2, .client3{
    margin: 10px;
    text-align: center;
    line-height: 30px;
    font-family: 'Barlow', sans-serif;
    margin-bottom: 20px;
    
}

.client-name {
    font-family: 'Fraunces', serif;
    margin-bottom: 10px;
    color:hsl(212, 27%, 19%);
}

.p-client {
    margin-bottom: 60px;
    color: hsl(213, 9%, 39%);
}

.prof {
    color: hsl(232, 10%, 55%);
}