.grid-container {
    display: grid;
    grid-template-columns: 50%;
    grid-template-areas: 
    "y egg"
    "cup r"
    ;

    height: 1200px;
    font-family: 'Fraunces', serif;
}

.yellow-container{
    grid-area: y;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
    justify-self: center;

    width: 450px;
    height: 400px;
    
}

.yellow__img{
    grid-area: egg;
    background-image: url(../images/desktop/image-transform.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    
}

.yellow__title{
    font-size: 40px;
    color: hsl(212, 27%, 19%);
}

.yellow__p{
    line-height: 30px;
    font-family: 'Barlow', sans-serif;
    color:  hsl(210, 4%, 67%);
}

.yellow-subline{
    display: flex;
    justify-content: center;
    align-items:end;
    background-color: hsl(51, 100%, 49%, 0.2);
    width: 150px;
    height: 8px;
    border-radius: 15px;
}

.yellow__subtitle{
    text-transform: uppercase;
    color: hsl(212, 27%, 19%); 
   
}

.red__img{
    grid-area: cup;
    background-image: url(../images/desktop/image-stand-out.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    
    
}

.red-container{
    grid-area: r;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
    justify-self: center;

    width: 450px;
    height: 400px;
}

.red__title {
    font-size: 40px;
    color: hsl(212, 27%, 19%);
}

.red__p{
    line-height: 30px;
    font-family: 'Barlow', sans-serif;
    color:  hsl(210, 4%, 67%);
}

.red-subline{
    display: flex;
    justify-content: center;
    align-items:end;
    background-color: hsl(7, 99%, 70%, 0.2);
    width: 150px;
    height: 8px;
    border-radius: 15px;
}

.red__subtitle {
    text-transform: uppercase;
    color: hsl(212, 27%, 19%);
   
}
